body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#send-image{
  display: flex;
  justify-content: center;
}

.root {
  max-width: 70rem;
}

article {
  /* max-width: 70rem; */
}

#main-submit {
  display: flexbox;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}
 .Footer{
  background-color: white;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
 }