
body {
  margin: 0 auto;
  max-width: 75rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#send-image{
  display: flex;
  justify-content: center;
}

/* #bo {
  max-width: 70rem;
} */

#root > div > *{
  margin-block-start: 2rem;
}

article {
  /* max-width: 70rem; */
}

#main-submit {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.filter-options {
  display: flex;
  justify-content: flex-start;
  /* align-items: start; */
  gap: 1rem;
  flex-direction: column;
}

.filter-option > * {
  gap: 1rem;
}